@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

header {
    padding: 10px 0;
    background: #ff0000;
    background-image: url('images/hero_image-skyline2.jpg');
    height: 600px;
    background-size: cover;
    background-position: 50%;
    border-bottom: 10px solid #000;
}

header h1 {
    color: #9AA1B0;
    padding: 10px;
    border-radius: 10px;
    padding-left: 70px;
    display: inline-block;
    font-size: 450%;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    transform: translateY(-70px);
}

header span {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    min-width: 700px;
}

nav, footer {
    background: #000;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content:flex-end;
}

nav ul li {
    margin: 10px;
  }

nav {
    height: 80px;
    background-image: url(images/navigation_banner.png);
}

main {
    background: #ff0000;
}

.container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 6fr 6fr;
}

@media only screen and (max-width: 850px) {
    h1, .container {
        transform: translateX(60px);
    }
}